@import "tailwindcss";

@font-face {
  font-family: "Metropolis";
  src: url("/fonts/Metropolis-Regular.woff2") format("woff2"),
    url("/fonts/Metropolis-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-primary: #4398d7;
}

th {
  padding: 8px;
  text-align: left;
  color: #030fad;
}
